*#
*.aps
*.bsc
*.cer
*.cod
*.crt
*.dll
*.exe
*.exp
*.idb
*.ilk
*.ipch
*.key
*.lib
*.map
*.obj
*.opensdf
*.pdb
*.pem
*.pfx
*.pvk
*.sdf
*.sln.old
*.spc
*.suo
*.swp
*.tlog
*~
/bin/vc*/
/bsc/vc*/
/dll/vc*/
/lib/vc*/
/map/vc*/
/pdb/vc*/
/pdb_pub/vc*/
/tmp/
_UpgradeReport_Files/
ipch/
