/* Resources for libxslt.dll */

#include <windows.h>
#include "libxslt/xsltconfig.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION    LIBXSLT_VERSION_MAJOR,LIBXSLT_VERSION_MINOR,LIBXSLT_VERSION_POINT,LIBXSLT_VERSION_POINT2
 PRODUCTVERSION LIBXSLT_VERSION_MAJOR,LIBXSLT_VERSION_MINOR,LIBXSLT_VERSION_POINT,LIBXSLT_VERSION_POINT2
 FILEFLAGSMASK 0x3fL /* VS_FFI_FILEFLAGSMASK */
#ifdef _DEBUG
 FILEFLAGS 0x1L  /* VS_FF_DEBUG */
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L  /* VFT2_UNKNOWN */
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "04090000"  /* Lang = US English, Charset = ASCII */
        BEGIN
            VALUE "Comments", "For more information visit http://xmlsoft.org/XSLT.html\0"
            VALUE "CompanyName", "Free Software Foundation\0"
            VALUE "FileDescription", "libxslt is a language for transforming XML documents into other XML documents (or HTML/textual output).\0"
            VALUE "FileVersion", LIBXSLT_DOTTED_VERSION "\0"
            VALUE "InternalName", "libxslt.dll\0"
            VALUE "LegalCopyright", "Copyright (C) 2001-2002 Daniel Veillard.  All Rights Reserved.\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "libxslt.dll\0"
            VALUE "ProductName", "libxslt: The XSLT C library developed for the GNOME project.\0"
            VALUE "ProductVersion", LIBXSLT_DOTTED_VERSION "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0  /* US English, ASCII */
    END
END
